.flashcard__container {
  text-align: center;
  margin: auto;
  padding: 100px 15px;
  min-width: 100%;
  max-width: 800px;
  width: 100%;
  margin: 20px;
  text-align: center;
}

.flashcard__content {
  font-size: 5em;
  font-weight: bold;
  width: 100%;
}

.flashcard__card {
  min-width: 390px;
  max-width: 390px;

  min-height: 260px;
  max-height: 260px;

  /*background-color: #fbf3ff;
  color: #4c046f;*/
  background-color: #0008ff;
  color: #ffffff;
  text-shadow: 4px 4px 8px #000033;

  /*border: solid thick #4c046f;*/
  border: solid medium black;
  border-radius: 8px;
  box-shadow: 5px 5px #000068;

  margin-bottom: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard__facedown {
  background-image: url('cardBack.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  font-size: 1.5em;
  font-weight: 900;
  color: #ffffff;
  text-shadow: 6px 6px 4px #000000;
}

.flashcard__incorrect {
  color: red;
}

.flashcard__correct {
  color: green;
}

.assessOpt {
  font-weight: 900;
  font-size: 2em;
}
