body {
  background-color: lightskyblue;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
}

.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

label {
  padding-top: 15px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
}

#title {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  border: solid think black;
}

#context-bar {
  display: flex;
  justify-content: stretch;
  background-color: white;
  color: black;
  width: 100%;
  padding: 10px 0;
  border-bottom: solid thin black;
  text-align: center;
}
#context-label {
  text-align: center;
  flex: 1;
  font-size: 1.5em;
  font-weight: bold;
}

#context-button a:link {
  text-decoration: none;
  padding: 0 5px;
  font-size: 2em;
  margin-left: 10px;
  text-align: center;
  background-color: lightgray;
  border: solid thin black;
  border-radius: 3px;
}
.customSelect {
  padding: 0 10px;
  border: solid thin gray;
  overflow-y: auto;
  max-height: 100px;
}

.itemListOption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemListOption button {
  margin-left: 25px;
}

table,
th,
td {
  border-collapse: collapse;
  border: solid thin black;
}

table {
  margin: auto;
}
main,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: lightskyblue;
  text-align: center;
}

#history {
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
}

.multiCheckItem {
  margin-right: 15px;
  margin-bottom: 15px;
}

footer {
  background-color: #0008ff;
  color: white;
}

.featureBlock {
  padding: 0 15px 20px 15px;
  margin: 10px;
  border: solid thin black;
  background-color: white;
}

.button-link {
  text-decoration: none;
}

.button-link:visited {
  color: inherit;
}

.assessOpt {
  font-weight: 900;
  font-size: 2em;
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
