.Header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  flex-direction: column;
  background-color: #0008ff;
  color: #ffffff;
}

.Header h1 {
  margin: 0;
  font-size: 22pt;
}

.Header h1 a {
  text-decoration: none;
}

.Header a {
  color: #ffffff;
}

.Header__not-logged-in {
  display: flex;
}

.Header__not-logged-in .Hyph {
  display: none;
}

@media screen and (min-width: 480px) {
  .Header {
    align-items: baseline;
    flex-direction: row;
  }
  .Header h1 {
    font-size: 32pt;
  }

  .Header__not-logged-in {
  }

  .Header__not-logged-in .Hyph {
    display: initial;
  }
}
